<div id="admin-center">
  <div class="container" id="admin-new-buttons">
    <div ng-app="app">
      <div ng-controller="adminsCtrl" ng-init="setupUserSearch()">
        <%= link_to 'Add Employer', new_admin_employer_path, class: "btn btn-default" %>
        <%= link_to 'Add Student', new_admin_student_path, class: "btn btn-default" %>
        <%= link_to 'Batch Add Students', '/students/invitations/batch', class: "btn btn-default" %>
        <%= link_to 'Add Admin', new_admin_admin_path, class: "btn btn-default" %>
      
        <div id='tab-nav'>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#employers" aria-controls="employers" role="tab" data-toggle="tab">Employers</a></li>
            <li role="presentation"><a href="#students" aria-controls="students" role="tab" data-toggle="tab">Students</a></li>
            <li role="presentation"><a href="#admins" aria-controls="admins" role="tab" data-toggle="tab">Admins</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="employers">
              <div class="list-container">
                <ul class="hoverlist">     
                  <% @employers.each do |employer| %>
                    <li class="user-entries">
                      <%= link_to employer.name, employer_path(employer), class: "user-name" %>   
                      <%= link_to 'Delete', employer_path(employer), method: :delete, data: { confirm: "Are you sure you want to delete '#{employer.name}'"}, class: "btn btn-default btn-sm user-btn" %>
                       <%= link_to 'Edit', edit_employer_path(employer), class: "btn btn-default btn-sm user-btn" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="students">
              <div class="list-container">
                <ul class="hoverlist">     
                  <% @students.each do |student| %>
                    <li class="user-entries">
                      <%= link_to student.full_name, student_path(student), class: "user-name" %>   
                      <%= link_to 'Delete', student_path(student), method: :delete, data: { confirm: "Are you sure you want to delete '#{student.full_name}'"}, class: "btn btn-default btn-sm user-btn" %>
                       <%= link_to 'Edit', edit_student_path(student), class: "btn btn-default btn-sm user-btn" %>
                    </li>
                  <% end %>
                </ul>
              </div> 
            </div>

            <div role="tabpanel" class="tab-pane" id="admins">
              <div class="list-container">
                <ul class="hoverlist">     
                  <% @admins.each do |admin| %>
                    <li class="user-entries">
                      <%= link_to admin.full_name, admin_path(admin), class: "user-name" %>   
                      <%= link_to 'Delete', admin_path(admin), method: :delete, data: { confirm: "Are you sure you want to delete '#{admin.full_name}'"}, class: "btn btn-default btn-sm user-btn" %>
                       <%= link_to 'Edit', edit_admin_path(admin), class: "btn btn-default btn-sm user-btn" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#userTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>
