<div class="login-page">
  <section id="content-region-3" class="padding-40 page-tree-bg">
    <div class="container">
      <h3 class="page-tree-text">Update Admin Account</h3>
    </div>
  </section><!--page-tree end here-->

  <div class="space-70"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="my-login-form">
          <%= form_for(@admin, url: admin_path(@admin), html: { :multipart => true }) do |f| %>
          <%= f.hidden_field :active, value: true %>
            <h4 class="heading-mini">Update Account Details</h4><hr>
            <div class="row">
              <div class="form-group col-md-6">
                <%= f.label :first_name %><br />
                <%= f.text_field :first_name, class: "form-control" %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :last_name %><br />
                <%= f.text_field :last_name, class: "form-control" %>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <%= f.label :email %><br />
                <%= f.email_field :email, class: "form-control" %>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
              </div>
            </div>
            <% if @admin.avatar.url && @admin.avatar.url.include?("aws") %>
              <div class="row">
                <div class="form-group col-md-12">
                  <%= f.label "Current Avatar" %><br />
                  <%= image_tag @admin.avatar.thumb.url, class: "form-img-preview" %>
                </div>
                <div class="form-group col-md-12">
                  <%= f.check_box :remove_avatar %> &nbsp;<%= f.label :remove_avatar %>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <%= f.label :avatar, "Change Avatar" %><br />
                  <%= f.file_field :avatar, class: "form-control", id: "control" %>
                </div>
              </div><br>
            <% else %>
              <div class="row">
                <div class="form-group col-md-12">
                  <%= f.label :avatar, "Upload Avatar" %><br />
                  <%= f.file_field :avatar, class: "form-control", id: "control" %>
                </div>
              </div><br>
            <% end %>
            <div class="row">
              <div class="text-right submit-btn col-md-12">
                <%= f.submit "Update", class: "btn theme-btn-color" %>
              </div>
            </div>
          <% end -%>
        </div>
      </div>
    </div>
  </div><!--login page container end-->
</div>

<%= render "shared/alerts_checkbox_radio_scripts" %>









