<section id="content-region-3" class="padding-40 page-tree-bg">
  <div class="container">
    <h3 class="page-tree-text">ACLTC Students</h3>
  </div>
</section><!--page-tree end here-->
<div class="space-70"></div>
<div class="container student-index">
  <div class="row">
    <div class="col-md-12">
      <ul class="portfolio-filters">
        <li class="filter active" data-filter="all">all</li>
        <li class="filter" data-filter="design">design</li>
        <li class="filter" data-filter="html">HTML5</li>
        <li class="filter" data-filter="wordpress">Wordpress</li>
        <li class="filter" data-filter="seo">Seo</li>
      </ul>
      <div id="grid" class="row">
        <% @students.each do |student| %>
          <div class=" mix col-md-4 col-sm-12 col-xs-12 margin-btm-40">
            <div class="portfolio-sec">
              <div class="portfolio-thumnail">
                <%= link_to image_tag("#{student.avatar.index_square.url}"), student_path(student), class: "img-responsive" %>
              </div>
              <div class="portfolio-desc text-center">
                <h4 class="portfolio-post-title"><%= student.full_name %></h4>
                <span class="portfolio-post-cat"><%= student.industry %></span>
                <span class="portfolio-post-cat skill"><%= student.skill_1 %></span>
                <span class="portfolio-post-cat skill"><%= student.skill_2 %></span>
                <span class="portfolio-post-cat skill"><%= student.skill_3 %></span>
                <h4><%= link_to "More Details", student_path(student), class: "btn theme-btn-default btn-lg" %></h4>
              </div>
            </div>
          </div><!--portfolio item -->
        <% end %>
        <div class=" mix seo col-md-4 col-sm-12 col-xs-12 margin-btm-40">
          <div class="portfolio-sec">
            <div class="portfolio-thumnail">
              <%= link_to image_tag("#{@students[0].avatar.index_square.url}"), student_path(@students[0]), class: "img-responsive" %>
            </div>
            <div class="portfolio-desc text-center">
              <h4 class="portfolio-post-title"><%= @students[0].full_name %></h4>
              <span class="portfolio-post-cat"><%= @students[0].industry %></span>
              <span class="portfolio-post-cat skill"><%= @students[0].skill_1 %></span>
              <span class="portfolio-post-cat skill"><%= @students[0].skill_2 %></span>
              <span class="portfolio-post-cat skill"><%= @students[0].skill_3 %></span>
              <h4><%= link_to "More Details", student_path(@students[0]), class: "btn theme-btn-default btn-lg" %></h4>
            </div>
          </div>
        </div><!--portfolio item -->
        <div class=" mix seo col-md-4 col-sm-12 col-xs-12 margin-btm-40">
          <div class="portfolio-sec">
            <div class="portfolio-thumnail">
              <%= link_to image_tag("#{@students[-1].avatar.index_square.url}"), student_path(@students[-1]), class: "img-responsive" %>
            </div>
            <div class="portfolio-desc text-center">
              <h4 class="portfolio-post-title"><%= @students[-1].full_name %></h4>
              <span class="portfolio-post-cat"><%= @students[-1].industry %></span>
              <span class="portfolio-post-cat skill"><%= @students[-1].skill_1 %></span>
              <span class="portfolio-post-cat skill"><%= @students[-1].skill_2 %></span>
              <span class="portfolio-post-cat skill"><%= @students[-1].skill_3 %></span>
              <h4><%= link_to "More Details", student_path(@students[-1]), class: "btn theme-btn-default btn-lg" %></h4>
            </div>
          </div>
        </div><!--portfolio item -->
        <div class=" mix design col-md-4 col-sm-12 col-xs-12 margin-btm-40">
          <div class="portfolio-sec">
            <div class="portfolio-thumnail">
              <%= link_to image_tag("#{@students[0].avatar.index_square.url}"), student_path(@students[-2]), class: "img-responsive" %>
            </div>
            <div class="portfolio-desc text-center">
              <h4 class="portfolio-post-title"><%= @students[-2].full_name %></h4>
              <span class="portfolio-post-cat"><%= @students[-2].industry %></span>
              <span class="portfolio-post-cat skill"><%= @students[-2].skill_1 %></span>
              <span class="portfolio-post-cat skill"><%= @students[-2].skill_2 %></span>
              <span class="portfolio-post-cat skill"><%= @students[-2].skill_3 %></span>
              <h4><%= link_to "More Details", student_path(@students[-2]), class: "btn theme-btn-default btn-lg" %></h4>
            </div>
          </div>
        </div><!--portfolio item -->
      </div><!--grid-->
    </div>
  </div><!--row-->
</div><!--portfolio container end-->
