<div class="student-index">
  <section id="content-region-3" class="padding-40 page-tree-bg">
    <div class="container">
      <h3 class="page-tree-text">Actualize Alumni</h3>
    </div>
  </section><!--page-tree end here-->

  <div class="space-70"></div>
  <div class="container student-index">
    <div class="row">
      <div class="col-md-12">
        <!-- <input ng-model='skillFilter' class="form-control"></p> --> 
        <div class="row">
          <%= search_form_for @search do |f| %>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <h4 class="heading-mini filter-heading">Filter By Technology</h4>
                  <%= f.collection_select( :technologies_id_in_any, Technology.all.order(:name), :id, :name, {}, {:prompt => 'Select Fields', class: "form-control chosen-select", multiple: true} )%>
                </div>
                <div class="col-md-4">
                  <h4 class="heading-mini filter-heading">Filter By City</h4>
                  <%= f.search_field :current_city_cont, autocomplete: "off", class: "search-city form-control" %>
                </div>
                <div class="col-md-4">
                  <h4 class="heading-mini filter-heading">Filter By State</h4>
                  <%= f.select(:current_state_cont, options_for_select(us_states), { :include_blank => true }, class: "form-control search-state" ) %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= f.submit "Search", class: "btn theme-btn-color" %>
                </div>
              </div>
            </div>
          <% end %>
        </div><br>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <% if @students.any? %>
          <% @students.each_slice(4) do |three_students| %>
            <div id="grid" class="row">  
              <% three_students.each do |student| %>
                <div class=" mix col-lg-3 col-md-6 col-sm-6 col-xs-12 margin-btm-40">
                  <div class="portfolio-sec">
                    <div class="portfolio-thumnail">
                      <a href="/students/<%= student.id %>"><img src="<%=student.avatar.index_square.url %>" class="img-responsive" /></a>
                    </div>
                    <div class="portfolio-desc text-center"> 
                      <h4 class="portfolio-post-title"><%= student.full_name %></h4>
                      <span class="portfolio-post-cat"><%= student.current_location %></span>
                      <% if student.skills? %>
                        <% unless student.skill_1 == "" || student.skill_1 == nil %>
                          <span class="portfolio-post-cat skill"><%= student.skill_1 %></span>
                        <% end %>
                        <% unless student.skill_2 == "" || student.skill_2 == nil %>
                          <span class="portfolio-post-cat skill"><%= student.skill_2 %></span>
                        <% end %>
                        <% unless student.skill_3 == "" || student.skill_3 == nil %>
                          <span class="portfolio-post-cat skill"><%= student.skill_3 %></span>
                        <% end %>
                      <% else %>
                        <span class="portfolio-post-cat skill">Skills Coming Soon</span>
                      <% end %>
                      <h4><a href="/students/<%= student.id %>" class="btn theme-btn-default btn-lg">More Details</a></h4>
                    </div>
                  </div>
                </div><!--portfolio item -->
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div id="grid" class="row">  
            <div class="col-sm-12">
              <h3><em>No students match your search criteria</em></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div><!--row-->
  </div><!--portfolio container end-->
</div>
