<div class="student-show">
  <section id="content-region-3" class="padding-40 page-tree-bg">
    <div class="container">
      <h3 class="page-tree-text"><%= @student.full_name %></h3>
    </div>
  </section><!--page-tree end here-->
  <div class="space-70"></div>
  <div class="container student-show">
    <div class="row">
      <div class="col-md-8">

        <div class="blog-post-section student-section-one">
          <div class="blog-post-img">
              <%= image_tag "#{@student.avatar.index_square.url}", alt: "", class: "img-responsive show-image" %>
          </div>
          <% if @student.seeking_employment %>
            <div class="blog-post-info employment-btn-div">
              <button class="btn btn-lg theme-btn-color employment-btn"> Seeking Employment!</button>
            </div>
          <% end %>
          <div class="blog-post-header city-header">
              <h3><a href="" class="student-city"><%= @student.current_location %></a></h3>
          </div>
        </div>

        <div class="blog-post-section student-section-two">
          <div class="blog-post-detail">
            <% if @student.about_me? %>
              <h4 class="heading-mini section-heading">About Me</h4>
              <div class="acltc-info">
                <div class="row">
                
                  <div class="col-md-12 services-text about-me">
                    <p><em>"<%= @student.about_me %>"</em></p>
                  </div><!--services 1 text-->
                </div><!--services 1 row-->
              </div>
            <% end %>

            <h4 class="heading-mini section-heading">My Bootcamp</h4>
            <div class="acltc-info">
              <div class="row">
                <div class="col-md-3 services-icon">
                  <i class="ion-university"></i>
                </div><!--services icon-->
                <div class="col-md-6 services-text">
                  <h4 class="heading-mini">ACLTC: <%= @student.city || "Unavailable" %></h4>
                  <h5 class="student-grad-date">Graduated: <%= @student.friendly_grad_date || "Unavailable" %></h5>
                  <% if @student.resume.url && @student.resume.url.include?("aws") %>
                    <a href="<%= @student.resume.url %>"><button class="btn btn-lg theme-btn-color resume-btn"><i class="ion-document-text"></i> &nbsp;Resume</button></a>
                  <% end %>
                </div><!--services 1 text-->
              </div><!--services 1 row-->
            </div>
            
            <% if @capstone %>
                <h4 class="heading-mini section-heading">My Capstone: <%= @capstone.name %></h4>
                <div class="blog-post-img">
                  <a href="/projects/<%= @capstone.id %>"><%= image_tag "#{@capstone.project_image.masonry.url}", alt: "", class: "img-responsive capstone-image" %></a>
                </div>
                <% unless @capstone.description == "" || @capstone.description == nil %>
                  <div class="student-interview capstone-info">
                    <h4 class="heading-mini question-heading capstone-description-heading">Description</h4> 
                    <p class="capstone-description"><em>" <%= @capstone.description.capitalize %> "</em></p> 
                    <% if @capstone.github || @capstone.website || @capstone.screencast %>
                      <h4 class="heading-mini question-heading checkout-icon-header">Check It Out</h4>
                      <div class="sidebar-box">            
                        <ul class=" list-inline social-btn">
                          <% unless @capstone.normalized_github == "" || @capstone.normalized_github == nil %>  
                            <li><a href="<%= @capstone.normalized_github %>" target="_blank"><i class="ion-social-github" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="My Code On GitHub"></i></a></li>
                          <% end %>
                          <% unless @capstone.normalized_website == "" || @capstone.normalized_website == nil %> 
                            <li><a href="<%= @capstone.normalized_website %>" target="_blank"><i class="ion-android-desktop" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Live Website"></i></a></li>
                          <% end %>
                          <% unless @capstone.normalized_screencast == "" || @capstone.normalized_screencast == nil %> 
                            <li><a href="<%= @capstone.normalized_screencast %>" target="_blank"><i class="ion-ios-videocam" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="App Screencast"></i></a></li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>
                  </div>
                <% end %>
            <% end %>
          </div>
        </div><!--blog post section end-->

        <div class="blog-post-section student-section-three">
          <% if @student.interview_answers? %>
            <h4 class="heading-mini section-heading">Interview Responses</h4>
            <% unless @student.interview_1 == "" || @student.interview_1 == nil %>
              <div class="student-interview">
                <div class="row">
                  <div class="col-md-3 services-icon">
                    <i class="ion-help"></i>
                  </div><!--services icon-->
                  <div class="col-md-6 services-text">
                    <h4 class="heading-mini question-heading">What is a closure, and how/why would you use one?</h4> 
                    <p><em>"<%= @student.interview_1.capitalize %>"</em></p> 
                  </div><!--services 1 text-->
                </div><!--services 1 row-->
              </div>
            <% end %>
            <% unless @student.interview_2 == "" || @student.interview_2 == nil %>
              <div class="student-interview">
                <div class="row">
                  <div class="col-md-3 services-icon">
                    <i class="ion-help"></i>
                  </div><!--services icon-->
                  <div class="col-md-6 services-text">
                    <h4 class="heading-mini question-heading">What does CORS stand for and what issue does it address?</h4> 
                    <p><em>"<%= @student.interview_2.capitalize %>"</em></p> 
                  </div><!--services 1 text-->
                </div><!--services 1 row-->
              </div>
            <% end %>
            <% unless @student.interview_3 == "" || @student.interview_3 == nil %>
              <div class="student-interview">
                <div class="row">
                  <div class="col-md-3 services-icon">
                    <i class="ion-help"></i>
                  </div><!--services icon-->
                  <div class="col-md-6 services-text">
                    <h4 class="heading-mini question-heading">What is a recent technical challenge you experienced and how did you solve it?</h4> 
                    <p><em>"<%= @student.interview_3.capitalize %>"</em></p> 
                  </div><!--services 1 text-->
                </div><!--services 1 row-->
              </div>
            <% end %>
          <% end %>
          <% unless @student.quote == "" || @student.quote == nil %>
            <h4 class="heading-mini section-heading">Quote</h4>
            <div class="student-quote">
              <div class="row">
                <div class="col-md-3 services-icon">
                  <i class="ion-chatbox"></i>
                </div><!--services icon-->
                <div class="col-md-6 services-text">
                  <h4 class="heading-mini quote-heading"><em>"<%= @student.quote %>"</em></h4> 
                </div><!--services 1 text-->
              </div><!--services 1 row-->
            </div>
          <% end %>
        </div><!--blog post section end-->
      </div><!--blog content--> 

      <div class="col-md-4">
        <hr>
        <div class="sidebar-box control-buttons">
          <% if admin_signed_in? || student_signed_in? %>
            <a href="/projects/new" class="btn btn-lg theme-btn-color"><i class="ion-plus"></i> &nbsp;Add Project</a> 
            <% unless @student.resume.url == "" || @student.resume.url == nil%>
              <a href="<%= @student.resume.url %>" class="btn btn-lg theme-btn-color"><i class="ion-document-text"></i> &nbsp;Resume</a>
            <% end %>
          <% end %> 
          <% if admin_signed_in? %>
              <a href="/students/<%= @student.id %>/edit" class="btn btn-lg theme-btn-color"><i class="ion-edit"></i></a>
              <a href="#" class="btn btn-lg theme-btn-color"><i class="ion-email"></i> &nbsp;Contact</a>
          <% elsif employer_signed_in? %>
            <% unless @student.resume.url == "" || @student.resume.url == nil %>
              <a href="<%= @student.resume.url %>" class="btn btn-lg theme-btn-color"><i class="ion-document-text"></i> &nbsp;Resume</a>
            <% end %>
            
  
            <a href="#" class="btn btn-lg theme-btn-color" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Email" data-container="body"><i class="ion-email"></i></a>
            <button class="btn btn-lg theme-btn-color" form="follow-up-form" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add To Follow Up List"  ><i class="ion-plus"></i> &nbsp;Add To List</button>
          <% end %>
          <%= form_for(@follow_up_student, url: follow_up_students_path, html: { id: "follow-up-form"}) do |f| %>
            <%= f.hidden_field :student_id, value: @student.id %>
            <%= f.hidden_field :follow_up_list_id, value: @follow_up_list.id %>
            <%= f.hidden_field :employer_id, value: @employer.id %>
          
          <% end %>
        </div>
        <% unless employer_signed_in? %><hr><% end %>
        
        <% if @student.social_links? %>
          <div class="sidebar-box">
            <h4>Find Me Online</h4>
            <ul class=" list-inline social-btn">
              <% unless @student.github == "" || @student.github == nil %> 
                <li><a href="<%= @student.normalized_github %>" target="_blank"><i class="ion-social-github" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Check Out My GitHub"></i></a></li>
              <% end %>
              <% unless @student.blog == "" || @student.blog == nil %>  
                <li><a href="<%= @student.normalized_blog %>" target="_blank"><i class="ion-android-desktop" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Check Out My Blog"></i></a></li>
              <% end %>
              <% unless @student.linked_in == "" || @student.linked_in == nil %> 
                <li><a href="<%= @student.normalized_linked_in %>" target="_blank"><i class="ion-social-linkedin-outline" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Connect on LinkedIn"></i></a></li>
              <% end %>
            </ul>
          </div><hr>
        <% end %>
        
        <div class="sidebar-box">
          <h4>Top 3 Skills</h4>
          <ul class="cat-list">
            <% if @student.skills? %>
              <% unless @student.skill_1 == "" || @student.skill_1 == nil %>
                <li><a href="#" class="hover-color"><%= @student.skill_1 %></a></li>
              <% end %>
              <% unless @student.skill_2 == "" || @student.skill_2 == nil %>
                <li><a href="#" class="hover-color"><%= @student.skill_2 %></a></li>
              <% end %>
              <% unless @student.skill_3 == "" || @student.skill_3 == nil %>
                <li><a href="#" class="hover-color"><%= @student.skill_3 %></a></li>
              <% end %>
            <% else %>
              <li><a href="#" class="hover-color">Coming Soon</a></li>
            <% end %>
          </ul>
        </div><hr>

        <% if @student.technologies.any? %>
          <div class="sidebar-box">
            <h4>Tech Skills</h4>
            <ul class="cat-list">
              <% @technologies.each do |tech| %>
                <li><a href="#" class="hover-color"><%= tech.name %></a></li>
              <% end %>
            </ul>
          </div><hr>
        <% end %>

        <div class="sidebar-box">
          <h4>Interests</h4>
          <ul class="cat-list">
            <% if @student.interests? %>
              <% unless @student.interest_1 == "" || @student.interest_1 == nil %>
                <li><a href="#" class="hover-color"><%= @student.interest_1 %></a></li>
              <% end %>
              <% unless @student.interest_2 == "" || @student.interest_2 == nil %>
                <li><a href="#" class="hover-color"><%= @student.interest_2 %></a></li>
              <% end %>
              <% unless @student.interest_3 == "" || @student.interest_3 == nil %>
                <li><a href="#" class="hover-color"><%= @student.interest_3 %></a></li>
              <% end %>
            <% else %>
              <li><a href="#" class="hover-color">Coming Soon</a></li>
            <% end %>
          </ul>
        </div><hr>

        <% if @student.positions.any? %>
          <div class="sidebar-box">
            <h4>Preferred Positions</h4>
            <ul class="cat-list">
              <% @positions.each do |position| %>
                <li><a href="#" class="hover-color"><%= position.name %></a></li>
              <% end %>
            </ul>
          </div><hr>
        <% end %>

        <% if @student.industries.any? %>
          <div class="sidebar-box">
            <h4>Preferred Industries</h4>
            <ul class="cat-list">
              <% @industries.each do |industry| %>
                <li><a href="#" class="hover-color"><%= industry.name %></a></li>
              <% end %>
            </ul>
          </div><hr>
        <% end %>
      </div><!--sideabr blog end -->
    </div>
  </div><!--blog post page content end here-->

  <div class="space-70"></div>

  <section id="content-region-3" class="padding-40 page-tree-bg">
    <div class="container">
      <h3 class="page-tree-text">Projects</h3>
    </div>
  </section><!--page-tree end here-->

  <div class="space-70"></div>
  <% if @projects[0] %>
    <div class="portfolio-masonary-wrapper">
      <div class="container mas-boxes">
        <% @projects.each do |project| %>
          <div class="mas-boxes-inner direc-hover-box wow animated fadeInUp">
            <a href="/projects/<%= project.id %>">
              <%= image_tag "#{project.project_image.masonry.url}", class: "img-responsive" %>
              <div class="direc-overlay">
                  <span><%= project.name %></span>
                  <span class="project-type"><em><%= project.project_type %></em></span>
              </div>
            </a>
          </div><!--masonry box-->
        <% end %>
      </div>
    </div><!--masonary wrapper-->
  <% else %>
    <h3 class="no-projects-message"><em>In progess. More projects coming soon!</em></h3>
  <% end %>
</div>

