<div class="student-show">
  <section id="content-region-3" class="padding-40 page-tree-bg">
    <div class="container">
      <h3 class="page-tree-text"><%= @student.full_name %></h3>
    </div>
  </section><!--page-tree end here-->
  <div class="space-70"></div>
  <div class="container student-show">
    <div class="row">
      <div class="modal fade" id="missing-field-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="reminder-modal-heading">Incomplete Profile Fields</h4>
              <p><em>* Fields marked with an asterisk are required for profile to be viewable on the student index</em></p>
            </div>
            <div class="modal-body">
            <% if @student.missing_student_fields.any? %>
              <% @student.missing_student_fields.each do |missing_field| %>
                <p><%= missing_field %></p>
              <% end %>
            <% else %>
              <p>Your profile is complete!</p>
            <% end %>
            </div>
            <div class="modal-footer">
              <%= link_to "Update Profile Now", edit_student_path(@student), class: "btn btn-default theme-btn-color" %>
              <button type="button" class="btn btn-default theme-btn-color" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <% if current_admin || current_student && current_student.id == @student.id %>
        <div class="col-md-12">
          <div class="progress student-progress-bar" data-toggle="modal" data-target="#missing-field-modal">
            <div class="progress-bar" role="progressbar" aria-valuenow="<%= @student.standout_score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @student.standout_score %>%;">
              <span class="profile-status-text">Profile Status: </span>&nbsp;<%= @student.standout_score.round %>% <span class="profile-status-text">Complete</span>
            </div>
          </div>
        </div>
      <% end %>

      <div class="col-md-8">
        <% if @student.reminder_modal && current_student && current_student.id == @student.id %>
          <!-- Resume Reminder Modal -->
          <div class="modal fade" id="reminder-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title reminder-modal-heading" id="myModalLabel">Reminder: Complete Your Profile</h4><br>
                  <p><em>Your profile will not be viewable to employers on the student index until the following required sections are completed.</em></p>
                </div>
                <div class="modal-body">
                  <% unless @student.about_me? %>
                    <p>Your "About Me" section is incomplete.</p>
                  <% end %>
                  <% unless @student.uploaded_resume? %>
                    <p>You have not uploaded your resume (pdf).</p>
                  <% end %>
                  <% unless @student.uploaded_avatar? %>
                    <p>You have not uploaded an avatar.</p>
                  <% end %>
                  <% unless @student.skills? %>
                    <p>At least one of your top 3 skills is incomplete.</p>
                  <% end %>
                  <% unless @student.technologies.any? %>
                    <p>You have not selected any tech skills.</p>
                  <% end %>
                  <% unless @student.positions.any? %>
                    <p>You have not selected any preferred positions.</p>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <%= link_to "Update Profile Now", edit_student_path(@student), class: "btn btn-default theme-btn-color" %>
                  <button type="button" class="btn btn-default theme-btn-color" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="blog-post-section student-section-one">
          <div class="blog-post-img">
              <%= image_tag "#{@student.avatar.index_square.url}", alt: "", class: "img-responsive show-image" %>
          </div>
          <% if @student.seeking_employment %>
            <div class="blog-post-info employment-btn-div">
              <button class="btn btn-lg theme-btn-color employment-btn no-click-button"> Open to New Opportunities</button>
            </div>
          <% end %>
          <div class="blog-post-header city-header">
            <h3><a href="" class="student-city"><%= @student.current_location %></a></h3>
          </div>
        </div>

        <div class="blog-post-section student-section-two">
          <div class="blog-post-detail">
            <% if @student.about_me? %>
              <h4 class="heading-mini section-heading">About Me</h4>
              <div class="acltc-info">
                <div class="row">
                  <div class="col-md-12 services-text about-me">
                    <p style="white-space: pre-line;"><em>"<%= @student.about_me %>"</em></p>
                  </div><!--services 1 text-->
                </div><!--services 1 row-->
              </div>
            <% end %>

            <h4 class="heading-mini section-heading">My Bootcamp</h4>
            <div class="acltc-info">
              <div class="row">
                <div class="col-md-3 services-icon">
                  <i class="ion-university"></i>
                </div><!--services icon-->
                <div class="col-md-6 services-text">
                  <h4 class="heading-mini">Actualize: <%= @student.city || "Unavailable" %></h4>
                  <h5 class="student-grad-date">Graduated: <%= @student.friendly_grad_date || "Unavailable" %></h5>
                  <% if @student.resume.url && @student.resume.url.include?("aws") %>
                    <a href="<%= @student.resume.url %>"><button class="btn btn-lg theme-btn-color resume-btn"><i class="ion-document-text"></i> &nbsp;Resume</button></a>
                  <% end %>
                </div><!--services 1 text-->
              </div><!--services 1 row-->
            </div>
            
            <% if @capstone %>
                <h4 class="heading-mini section-heading">My Capstone: <%= @capstone.name %></h4>
                <div class="blog-post-img">
                  <a href="/projects/<%= @capstone.id %>"><%= image_tag "#{@capstone.project_image.masonry.url}", alt: "", class: "img-responsive capstone-image" %></a>
                </div>
                <% unless @capstone.description == "" || @capstone.description == nil %>
                  <div class="student-interview capstone-info">
                    <h4 class="heading-mini question-heading capstone-description-heading">Description</h4> 
                    <div class="capstone-description" style="white-space: pre-line;"><em><%= @capstone.description %></em></div> 
                    <% if @capstone.project_links? %>
                      <h4 class="heading-mini question-heading checkout-icon-header">Check It Out</h4>
                      <div class="sidebar-box">            
                        <ul class=" list-inline social-btn">
                          <% unless @capstone.normalized_github == "" || @capstone.normalized_github == nil %>  
                            <li><a href="<%= @capstone.normalized_github %>" target="_blank"><i class="ion-social-github" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="App Code On GitHub"></i></a></li>
                          <% end %>
                          <% unless @capstone.normalized_website == "" || @capstone.normalized_website == nil %> 
                            <li><a href="<%= @capstone.normalized_website %>" target="_blank"><i class="ion-android-desktop" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Live Website"></i></a></li>
                          <% end %>
                          <% unless @capstone.normalized_screencast == "" || @capstone.normalized_screencast == nil %> 
                            <li><a href="<%= @capstone.normalized_screencast %>" target="_blank"><i class="ion-ios-videocam" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="App Screencast"></i></a></li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>
                  </div>
                <% end %>
            <% end %>
          </div>
        </div><!--blog post section end-->

        <% if @student.interview_answers? && @student.interview_questions? || @student.quote != "" && @student.quote != nil %>
          <div class="blog-post-section student-section-three">
            <% unless @student.interview_1 == "" || @student.interview_1 == nil || @student.interview_q1 == "" || @student.interview_q1 == nil %>
              <h4 class="heading-mini section-heading">Interview Responses</h4>
              <div class="student-interview">
                <div class="row">
                  <div class="col-md-3 services-icon">
                    <i class="ion-help"></i>
                  </div><!--services icon-->
                  <div class="col-md-6 services-text">
                    <h4 class="heading-mini question-heading"><%= @student.interview_q1 %></h4> 
                    <p><em>"<%= @student.interview_1 %>"</em></p> 
                  </div><!--services 1 text-->
                </div><!--services 1 row-->
              </div>
            <% end %>
            <% unless @student.interview_q2 == "" || @student.interview_q2 == nil || @student.interview_2 == "" || @student.interview_2 == nil %>
              <div class="student-interview">
                <div class="row">
                  <div class="col-md-3 services-icon">
                    <i class="ion-help"></i>
                  </div><!--services icon-->
                  <div class="col-md-6 services-text">
                    <h4 class="heading-mini question-heading"><%= @student.interview_q2 %></h4> 
                    <p><em>"<%= @student.interview_2 %>"</em></p> 
                  </div><!--services 1 text-->
                </div><!--services 1 row-->
              </div>
            <% end %>
            <% unless @student.interview_3 == "" || @student.interview_3 == nil || @student.interview_q3 == "" || @student.interview_q3 == nil %>
              <div class="student-interview">
                <div class="row">
                  <div class="col-md-3 services-icon">
                    <i class="ion-help"></i>
                  </div><!--services icon-->
                  <div class="col-md-6 services-text">
                    <h4 class="heading-mini question-heading"><%= @student.interview_q3 %></h4> 
                    <p><em>"<%= @student.interview_3 %>"</em></p> 
                  </div><!--services 1 text-->
                </div><!--services 1 row-->
              </div>
            <% end %>
            <% unless @student.quote == "" || @student.quote == nil %>
              <h4 class="heading-mini section-heading">Quote</h4>
              <div class="student-quote">
                <div class="row">
                  <div class="col-md-3 services-icon">
                    <i class="ion-chatbox"></i>
                  </div><!--services icon-->
                  <div class="col-md-6 services-text">
                    <h4 class="heading-mini quote-heading"><em>"<%= @student.quote %>"</em></h4> 
                  </div><!--services 1 text-->
                </div><!--services 1 row-->
              </div>
            <% end %>
          </div><!--blog post section end-->
        <% end %>
      </div><!--blog content--> 

      <div class="col-md-4">
        <div class="sidebar-box control-buttons">
          <% if admin_signed_in? || student_signed_in? && current_student.id == @student.id %>
            <hr>
            <a href="/projects/new" class="btn btn-lg theme-btn-color"><i class="ion-plus"></i> &nbsp;Add Project</a> 
            <% unless @student.resume.url == "" || @student.resume.url == nil %>
              <a href="<%= @student.resume.url %>" class="btn btn-lg theme-btn-color"><i class="ion-document-text"></i> &nbsp;Resume</a>
            <% end %>
          <% end %> 
          <% if admin_signed_in? %>
              <a href="/students/<%= @student.id %>/edit" class="btn btn-lg theme-btn-color" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Edit Student"><i class="ion-edit"></i></a>
          <% elsif employer_signed_in? %>
            <hr>
            <% unless @student.resume.url == "" || @student.resume.url == nil %>
              <a href="<%= @student.resume.url %>" class="btn btn-lg theme-btn-color"><i class="ion-document-text"></i> &nbsp;Resume</a>
            <% end %>
            <div class="modal-tooltip" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Contact Student" data-container="body"><button type="button" class="btn btn-lg theme-btn-color" data-toggle="modal" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Contact Student" data-container="body" data-target="#exampleModal" data-whatever=" <%= @student.full_name %>"><i class="ion-email"></i></button></div>
            <button class="btn btn-lg theme-btn-color" form="follow-up-form" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add To Follow Up List"  ><i class="ion-plus"></i> &nbsp;Add To List</button>
            <hr>
            <%= form_for(@follow_up_student, url: follow_up_students_path, html: { id: "follow-up-form"}) do |f| %>
              <%= f.hidden_field :student_id, value: @student.id %>
              <%= f.hidden_field :follow_up_list_id, value: @follow_up_list.id %>
              <%= f.hidden_field :employer_id, value: @employer.id %>
            <% end %>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close btn btn-lg theme-btn-color" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">New message</h4>
                    <p>Clicking send will deliver an email to <%= @student.first_name %> from <%= current_employer.email %></p>
                    <p>Send the default email as shown below or add your own message</p>
                    
                  </div>
                  <div class="modal-body">
                    <%= form_for(@employer_email, html: {:class => "wpcf7-form", id: "employer-email-form" }) do |f| %>
                      <%= f.hidden_field :nickname %>
                      <div class="field">
                        <%= f.hidden_field :name, required: true, value: current_employer.name %>
                      </div>
                      <div class="field">
                        <%= f.hidden_field :email, required: true, value: current_employer.email %>
                      </div>
                      <div class="field">
                        <%= f.hidden_field :student_email, required: true, value: @student.email %>
                      </div>
                      <div class="field">
                        <%= f.hidden_field :student_id, required: true, value: @student.id %>
                      </div>
                      <div class="field">
                        <%= f.hidden_field :employer_id, required: true, value: current_employer.id %>
                      </div>
                      <div class="form-group">
                        <%= f.text_area :message, as: :text, value: @default_message, class: "form-control", size: "20x10" %>
                      </div>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-lg theme-btn-color" data-dismiss="modal">Close</button>
                    <button class="btn btn-lg theme-btn-color" form="employer-email-form">Send Email</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <% unless employer_signed_in? %><hr><% end %>
        
        <% if @student.social_links? %>
          <div class="sidebar-box">
            <h4>Find Me Online</h4>
            <ul class=" list-inline social-btn">
              <% unless @student.github == "" || @student.github == nil %> 
                <li><a href="<%= @student.normalized_github %>" target="_blank"><i class="ion-social-github" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="My GitHub"></i></a></li>
              <% end %>
              <% unless @student.blog == "" || @student.blog == nil %>  
                <li><a href="<%= @student.normalized_blog %>" target="_blank"><i class="ion-android-hangout" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="My Blog"></i></a></li>
              <% end %>
              <% unless @student.personal_website == "" || @student.personal_website == nil %>  
                <li><a href="<%= @student.normalized_personal_website %>" target="_blank"><i class="ion-android-desktop" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="My Website"></i></a></li>
              <% end %>
              <% unless @student.linked_in == "" || @student.linked_in == nil %> 
                <li><a href="<%= @student.normalized_linked_in %>" target="_blank"><i class="ion-social-linkedin-outline" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="My LinkedIn"></i></a></li>
              <% end %>
            </ul>
          </div><hr>
        <% end %>

        <% unless @student.current_industry == "" || @student.current_industry == nil %>
          <div class="sidebar-box">
            <h4>Current Industry</h4>
            <ul class="cat-list">
              <li><a href="#" class="hover-color"><%= @student.current_industry %></a></li>
            </ul>
          </div><hr>
        <% end %>
        
        <% if @student.skills? %>
          <div class="sidebar-box">
            <h4>Top 3 Skills</h4>
            <ul class="cat-list">
              <% unless @student.skill_1 == "" || @student.skill_1 == nil %>
                <li><a href="#" class="hover-color"><%= @student.skill_1 %></a></li>
              <% end %>
              <% unless @student.skill_2 == "" || @student.skill_2 == nil %>
                <li><a href="#" class="hover-color"><%= @student.skill_2 %></a></li>
              <% end %>
              <% unless @student.skill_3 == "" || @student.skill_3 == nil %>
                <li><a href="#" class="hover-color"><%= @student.skill_3 %></a></li>
              <% end %>
            </ul>
          </div><hr>
        <% end %>

        <% if @student.technologies.any? %>
          <div class="sidebar-box">
            <h4>Tech Skills</h4>
            <ul class="cat-list">
              <div class="row">
                <% @technologies.each do |tech| %>
                  <div class="col-sm-6">
                    <li><a href="#" class="hover-color"><%= tech.name %></a></li>
                  </div>
                <% end %>
              </div>
            </ul>
          </div><hr>
        <% end %>

        <% if @student.positions.any? %>
          <div class="sidebar-box">
            <h4>Preferred Positions</h4>
            <ul class="cat-list">
              <div class="row">
                <% @positions.each do |position| %>
                  <div class="col-sm-6">
                    <li><a href="#" class="hover-color"><%= position.name %></a></li>
                  </div>
                <% end %>
              </div>
            </ul>
          </div><hr>
        <% end %>

        <% if @student.industries.any? %>
          <div class="sidebar-box">
            <h4>Preferred Industries</h4>
            <ul class="cat-list">
              <div class="row">
                <% @industries.each do |industry| %>
                  <div class="col-sm-6">
                    <li><a href="#" class="hover-color"><%= industry.name %></a></li>
                  </div>
                <% end %>
              </div>
            </ul>
          </div><hr>
        <% end %>

        <% if @student.interests? %>
          <div class="sidebar-box">
            <h4>Interests</h4>
            <ul class="cat-list">
              <% unless @student.interest_1 == "" || @student.interest_1 == nil %>
                <li><a href="#" class="hover-color"><%= @student.interest_1 %></a></li>
              <% end %>
              <% unless @student.interest_2 == "" || @student.interest_2 == nil %>
                <li><a href="#" class="hover-color"><%= @student.interest_2 %></a></li>
              <% end %>
              <% unless @student.interest_3 == "" || @student.interest_3 == nil %>
                <li><a href="#" class="hover-color"><%= @student.interest_3 %></a></li>
              <% end %>
            </ul>
          </div><hr>
        <% end %>
      </div><!--sideabr blog end -->
    </div>
  </div><!--blog post page content end here-->

  <div class="space-70"></div>

  <section id="content-region-3" class="padding-40 page-tree-bg">
    <div class="container">
      <h3 class="page-tree-text">Projects</h3>
    </div>
  </section><!--page-tree end here-->

  <div class="space-70"></div>
  <% if @projects[0] %>
    <div class="portfolio-masonary-wrapper">
      <div class="container mas-boxes">
        <% @projects.each do |project| %>
          <div class="mas-boxes-inner direc-hover-box wow animated fadeInUp">
            <a href="/projects/<%= project.id %>">
              <%= image_tag "#{project.project_image.masonry.url}", class: "img-responsive" %>
              <div class="direc-overlay">
                  <span><%= project.name %></span>
                  <span class="project-type"><em><%= project.project_type %></em></span>
              </div>
            </a>
          </div><!--masonry box-->
        <% end %>
      </div>
    </div><!--masonary wrapper-->
  <% else %>
    <h3 class="no-projects-message"><em>In progess. More projects coming soon!</em></h3>
  <% end %>
</div>

<script>
  $('#exampleModal, #missing-field-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('Send email message to ' + recipient)
    // modal.find('.modal-body input').val(recipient)
  })

  $('#reminder-modal').modal('show')
</script>