<div class="login-page">
  <section id="content-region-3" class="padding-40 page-tree-bg">
    <div class="container">
      <h3 class="page-tree-text"><%= t "devise.invitations.new.header" %></h3>
    </div>
  </section><!--page-tree end here-->

  <div class="space-70"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="my-login-form">
          <%= form_tag batch_invitations_path, :method => :post do %>
            <h4 class="heading-mini">Enter student email addresses you'd like to invite</h4>
            <div>Addresses must be separated by a comma to create invitations</div><hr>
            <div class="row">
              <div class="form-group col-md-12">
                <%= text_area_tag :email_addresses, nil, class: "text-emails" %>
                <%= hidden_field_tag 'type', 'student' %>
              </div>
            </div>            
            <div class="row">
              <div class="text-right submit-btn col-md-12">
                <%= submit_tag "Send student invitation(s)", class: "btn theme-btn-color" %>           
              </div>
            </div>    
          <% end -%>
        </div>
      </div>
    </div>
  </div><!--login page container end-->
</div>











