<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_tag batch_invite_students_path, :method => :post do %>
  <%= label_tag "Enter student email addresses you'd like to invite." %><br>
  <textarea style="width:400px; height:200px;" <%= text_area_tag :student_emails %></textarea><br>
  <%= submit_tag "Send an invitation" %>
<% end %>
