<p id="notice"><%= notice %></p>

<h1>Listing Position Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @position_types.each do |position_type| %>
      <tr>
        <td><%= position_type.name %></td>
        <td><%= link_to 'Show', position_type %></td>
        <td><%= link_to 'Edit', edit_position_type_path(position_type) %></td>
        <td><%= link_to 'Destroy', position_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Position type', new_position_type_path %>
