<section id="content-region-3" class="padding-40 page-tree-bg">
  <div class="container">
    <h3 class="page-tree-text">New Project</h3>
  </div>
</section><!--page-tree end here-->

<div class="space-70"></div>
<div class="container project-new">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="my-login-form">
        <%= form_for(@project, url: projects_path) do |f| %>
          <%= form_errors_for @project %>
            <h4 class="heading-mini">Enter Project Information</h4><hr>
            <div class="form-group">
              <%= f.label :name, "Name" %><br />
              <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :description, "Description" %><br />
              <%= f.text_field :description, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.check_box :capstone %>&nbsp;
              <%= f.label :capstone, "This is my capstone project" %>
            </div>

          

            <div class="form-group">
              <%= f.check_box :client_work %>&nbsp;
              <%= f.label :client_work, "This is client work" %>
            </div>

            <div class="form-group">
              <%= f.label :github %><br />
              <%= f.text_field :github, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :website, "Project Website (if deployed)" %><br />
              <%= f.text_field :website, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :screencast, "Screencast Video Link (if available)" %><br />
              <%= f.text_field :screencast, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :project_image, "Project Screencap/Image (if available)" %><br />
              <%= f.file_field :project_image, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.hidden_field :student_id, class: "form-control", value: current_user.id %>
            </div>

            <br>
            <div class="text-right submit-btn">
              <%= f.submit "Create Project", class: "btn theme-btn-color" %>
            </div>
        <% end %><!--login form end-->
      </div>
    </div>
  </div>
</div><!--login page container end-->

<script type="text/javascript">
    document.querySelector('.timer-alert').onclick = function () {
        swal({
            title: "Auto close alert!",
            text: "I will close in 3 seconds.",
            timer: 3000,
            showConfirmButton: false
        });
    };
    document.querySelector('.success-alert').onclick = function () {
        swal("Good job!", "You clicked the button!", "success");
    };
    document.querySelector('.simple-alert').onclick = function () {
        swal({
            title: "Welcome in Alerts",
            text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
        });
    };
    document.querySelector('.warning-alert').onclick = function () {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Yes, delete it!',
            closeOnConfirm: false
        },
        function () {
            swal("Deleted!", "Your imaginary file has been deleted!", "success");
        });
    };
</script>

<script>
    $(document).ready(function () {
        $("#content-scroll").mCustomScrollbar({
        });
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-gray',
            radioClass: 'iradio_square-gray',
            increaseArea: '20%' // optional
        });
    });
</script>