<section id="content-region-3" class="padding-40 page-tree-bg">
  <div class="container">
    <h3 class="page-tree-text">New Project</h3>
  </div>
</section><!--page-tree end here-->

<div class="space-70"></div>
<div class="container project-new">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="my-login-form">
        <%= form_for(@project, url: projects_path) do |f| %>
          <h4 class="heading-mini">Enter Project Information</h4><hr>
          <div class="form-group">
            <%= f.label :name, "Project Title" %><span class="required-form-field"> *</span><br />
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :description, "Description" %><span class="required-form-field"> *</span><br />
            <%= f.text_area :description, size: "20x5", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.check_box :capstone %>&nbsp;
            <%= f.label :capstone, "This is my capstone project" %>
          </div>
          <div class="form-group">
            <%= f.check_box :client_work %>&nbsp;
            <%= f.label :client_work, "This is client work" %>
          </div><hr>
          <div class="form-group">
            <div class="row">
              <div class="col-md-12 margin-btm-20">
                <%= f.label "Select technologies used in this project" %><br /><br />
                <%= f.collection_select( :technology_ids, Technology.all.order(:name), :id, :name, {}, {:prompt => 'Select Fields', class: "form-control chosen-select", multiple: true} )%>
              </div>
            </div>
          </div><hr>
          <div class="form-group">
            <%= f.label :github %><br />
            <%= f.text_field :github, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :website, "Project Website (if deployed)" %><br />
            <%= f.text_field :website, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :screencast, "Screencast/Youtube Video Link (if available)" %><br />
            <%= f.text_field :screencast, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :project_image, "Project Screencap/Image (if available)" %><br />
            <%= f.file_field :project_image, class: "form-control" %>
          </div>
          
          <% if admin_signed_in? %>
            <div class="form-group">
              <%= f.label :student_id, "Student" %><br />
              <%= f.collection_select(:student_id, Student.all, :id, :first_name, :prompt => 'Select Student', class: "form-control") %>
            </div>
          <% elsif student_signed_in? %>
            <div class="form-group">
              <%= f.hidden_field :student_id, class: "form-control", value: current_user.id %>
            </div>
          <% end %>
          <br>
          <div class="text-right submit-btn">
            <%= f.submit "Create Project", class: "btn theme-btn-color" %>
          </div>
        <% end %><!--login form end-->
      </div>
    </div>
  </div>
</div><!--login page container end-->

<%= render "shared/alerts_checkbox_radio_scripts" %>
