<div class="container">
  <% if @employer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employer.errors.count, "error") %></h2>
      <ul>
      <% @employer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for(@employer, url: admin_employers_path(@employer), html: { method: :post }) do |f| %>

  <h3>Employer Details</h3>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :rep_first_name %><br />
    <%= f.text_field :rep_first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :rep_last_name %><br />
    <%= f.text_field :rep_last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :rep_phone %><br />
    <%= f.text_field :rep_phone, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :rep_email %><br />
    <%= f.email_field :rep_email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.select(:state, options_for_select(us_states)) %>
  </div>

  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website, autofocus: true %>
  </div>

  <h3>Log In Information</h3>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default" %>
  </div>
<% end %>

</div>