<div class="employer-new-admin">
  <section id="content-region-3" class="padding-40 page-tree-bg">
      <div class="container">
          <h3 class="page-tree-text">
              Employer Sign Up
          </h3>
      </div>
  </section><!--page-tree end here-->

  <div class="space-70"></div>

  <div class="container">
    <%= form_for(@employer, url: admin_employers_path, html: { :multipart => true }) do |f| %>
    <div class="row">
      <div class="my-login-form col-md-6">
        <div class="login-info-box">
          <h4 class="heading-mini">Log In Information</h4><hr>
          <div class="row">
            <div class="col-md-6 margin-btm-20">
              <%= f.label :name, "Company Name" %><br />
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="col-md-6 margin-btm-20">
              <%= f.label :email %><br />
              <%= f.email_field :email, class: "form-control" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 margin-btm-20">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
            <div class="col-md-6 margin-btm-20">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
      <div class="my-login-form col-md-6">
        <div class="login-info-box">
          <h4 class="heading-mini">Company Representative Details</h4><hr>
          <div class="row">
            <div class="col-md-6 margin-btm-20">
              <%= f.label :rep_first_name %><br />
              <%= f.text_field :rep_first_name, class: "form-control" %>
            </div>
             <div class="col-md-6 margin-btm-20">
              <%= f.label :rep_last_name %><br />
              <%= f.text_field :rep_last_name, class: "form-control" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 margin-btm-20">
              <%= f.label :rep_email %><br />
              <%= f.email_field :rep_email, class: "form-control" %>
            </div>
            <div class="col-md-6 margin-btm-20">
              <%= f.label :rep_phone %><br />
              <%= f.text_field :rep_phone, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="my-login-form col-md-6">
        <div class="login-info-box">
          <h4 class="heading-mini">Company Info</h4><hr>
          <div class="row">
            <div class="col-md-6 margin-btm-20">
              <%= f.label :city %><br />
              <%= f.text_field :city, class: "form-control" %>
            </div>
             <div class="col-md-6 margin-btm-20">
              <%= f.label :state %><br />
              <%= f.select(:state, options_for_select(us_states, @employer.state), :prompt => "Select State", class: "form-control" ) %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 margin-btm-20">
              <%= f.label :website %><br />
              <%= f.text_field :website, class: "form-control" %>
            </div>
            <div class="col-md-6 margin-btm-20">
              <%= f.label :image, "Company Logo" %><br />
              <%= f.file_field :image, class: "form-control" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 margin-btm-20">
              <%= f.label "Industry" %><br />
                <%= f.collection_check_boxes :industry_ids, Industry.all, :id, :name do |b| %>
                  <div class="col-md-6 col-sm-6 collection-check-box">
                    <%= b.check_box %>
                    <%= b.label %>
                  </div>
                <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 margin-btm-20">
              <%= f.label :description, "Company Description" %><br />
              <%= f.text_area :description, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
      <div class="my-login-form col-md-6">
        <div class="login-info-box">
          <h4 class="heading-mini">Hiring Needs</h4><hr>
          <div class="row">
            <div class="col-md-12 margin-btm-20">
              <%= f.label :currently_hiring, "Are you currently hiring?" %><br />
              <%= f.radio_button :currently_hiring, "1" %> &nbsp;<%= f.label :currently_hiring, " Yes" %> &nbsp; &nbsp;
              <%= f.radio_button :currently_hiring, "0" %> &nbsp;<%= f.label :currently_hiring, " No" %><br />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 margin-btm-20">
              <%= f.label "Positions Available" %><br />
                <%= f.collection_check_boxes :position_ids, Position.all, :id, :name do |b| %>
                  <div class="collection-check-box">
                    <%= b.check_box %>
                    <%= b.label %>
                  </div>
                <% end %>
            </div>
            <div class="col-md-6 col-sm-6 margin-btm-20">
              <%= f.label "Position Types" %><br />
                <%= f.collection_check_boxes :position_type_ids, PositionType.all, :id, :name do |b| %>
                  <div class="collection-check-box">
                    <%= b.check_box %>
                    <%= b.label %>
                  </div>
                <% end %>
            </div>
          </div>     
        </div>
      </div>
    </div>
    <div class="row">
      <div class="my-login-form col-md-6">
        <div class="login-info-box">
          <h4 class="heading-mini">Hiring Details</h4><hr>
          <div class="row">
            <div class="col-md-12 margin-btm-20">
              <%= f.label "How soon will you be hiring for new positions?" %><br />
              <%= f.radio_button :hiring_timeline, 'ASAP' %> &nbsp; 
              <%= f.label :hiring_timeline, "ASAP" %><br />
              <%= f.radio_button :hiring_timeline, "0 - 3 Months" %> &nbsp;
              <%= f.label :hiring_timeline, "0 - 3 Months" %><br />
              <%= f.radio_button :hiring_timeline, "3 - 6 Months" %> &nbsp;
              <%= f.label :hiring_timeline, "3 - 6 Months" %><br />
              <%= f.radio_button :hiring_timeline, "Building a Pipeline" %> &nbsp;
              <%= f.label :hiring_timeline, "We're Building A Pipeline" %><br />
              <%= f.radio_button :hiring_timeline, "No Date Yet" %> &nbsp;
              <%= f.label :hiring_timeline, "No Date Yet" %><br />
            </div>
          </div> 
        </div>
      </div>
      <div class="my-login-form col-md-6">
        <div class="login-info-box">
          <div class="row">
            <div class="col-md-12 text-right">
              <%= f.submit "Sign Up", class: "btn theme-btn-color" %>
            </div>
            <% end %>     
            <div class="form-btm-link text-center">
             <%= link_to "Already have an account? Log in!", new_employer_session_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/alerts_checkbox_radio_scripts" %>