<div class="container">

    <%= form_tag employers_path, method: :post do %>
      <div class="field form-group">
        <%= label_tag :name %><br />
        <%= text_field_tag :name %>
      </div>

      <div class="field form-group">
        <%= label_tag :image %><br />
        <%= text_field_tag :image %>
      </div>

      <div class="field form-group">
        <%= label_tag :description %><br />
        <%= text_area_tag :description %>
      </div>

      <div class="field form-group">
        <%= label_tag :rep_first_name %><br />
        <%= text_field_tag :rep_first_name %>
      </div>

      <div class="field form-group">
        <%= label_tag :rep_last_name %><br />
        <%= text_field_tag :rep_last_name %>
      </div>

      <div class="field form-group">
        <%= label_tag :rep_phone %><br />
        <%= text_field_tag :rep_phone %>
      </div>

      <div class="field form-group">
        <%= label_tag :rep_email %><br />
        <%= email_field_tag :rep_email %>
      </div>

      <div class="field form-group">
        <%= label_tag :city %><br />
        <%= text_field_tag :city %>
      </div>

      <div class="field form-group">
        <%= label_tag :state %><br />
        <%= text_field_tag :state %>
      </div>

      <div class="field form-group">
        <%= label_tag :website %><br />
        <%= text_field_tag :website %>
      </div>

      <h3>Log In Information</h3>

      <div class="field form-group">
        <%= label_tag :email %><br />
        <%= email_field_tag :email %>
      </div>

      <div class="field form-group">
        <%= label_tag :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= password_field_tag :password %>
      </div>

      <div class="field form-group">
        <%= label_tag :password_confirmation %><br />
        <%= password_field_tag :password_confirmation %>
      </div>

      <div class="actions">
        <%= submit_tag "Update" %>
      </div>
    <% end %>

</div>