

<div class="employer-show">
  <section id="content-region-3" class="padding-40 page-tree-bg">
    <div class="container">
      <h3 class="page-tree-text"><%= @employer.name %></h3>
    </div>
  </section><!--page-tree end here-->

  <div class="space-70"></div>
  <div class="container portfolio-details">
    <div class="row">
      <div class="col-md-8 portfolio-single-slide margin-btm-40">
        <div class="flexslider">
          <%= image_tag @employer.image.large.url, class: "img-responsive" %>
        </div><!--flex slider-->
      
        <div class="tabs"><!--tabs start-->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#description" data-toggle="tab"><h4 class="heading-mini tab-name">Description</h4></a></li>
            <% if @employer.positions.any? || @employer.position_types.any? %>
              <li class=""><a href="#positions" data-toggle="tab"><h4 class="heading-mini tab-name">Positions</h4></a></li>
            <% end %>
            <% if @employer.technologies.any? %>
              <li class=""><a href="#tech" data-toggle="tab"><h4 class="heading-mini tab-name">Technologies</h4></a></li>
            <% end %>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane description-pane active" id="description">  
              <div class="tab-desc animated fadeIn">
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="heading-mini tab-inner">About Our Company</h4><hr>
                    <h5><%= @employer.description %></h5>
                  </div>
                </div><br>
                <div class="row">
                  <% if @employer.industries.any? %>
                    <% @industries.each do |industry| %>
                      <div class="col-md-12">
                        <h4 class="heading-mini tab-inner">Industries We Work In</h4><hr>
                      </div>
                      <div class="col-md-6">
                        <h5><%= industry.name %></h5>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div> 
            </div>

            <% if @employer.positions.any? || @employer.position_types.any? %>
              <div class="tab-pane description-pane" id="positions">  
                <div class="tab-desc animated fadeIn">
                  <div class="row">
                    <div class="col-md-6">
                      <% if @employer.positions.any? %>
                        <div class="col-md-12">
                          <h4 class="heading-mini tab-inner">Positions We're Looking To Fill</h4><hr>
                        </div>
                        <% @positions.each do |position| %>
                          <div class="col-md-12">
                            <h5><%= position.name %></h5>
                          </div>
                        <% end %>
                      <% end %><br>
                    </div>
                    <div class="col-md-6">
                      <% if @employer.position_types.any? %>
                        <div class="col-md-12">
                          <h4 class="heading-mini tab-inner">Position Types</h4><hr>
                        </div>
                        <% @position_types.each do |position_type| %>
                          <div class="col-md-12">
                            <h5><%= position_type.name %></h5>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <% if @employer.salary_ranges.any? %><br>
                          <div class="col-md-12">
                            <h4 class="heading-mini tab-inner">Salary Ranges</h4><hr>
                          </div>
                  
                  
                          <% @salary_ranges.each do |salary_range| %>
                            <div class="col-md-12">
                              <h5><%= salary_range.salary_range %></h5>
                            </div>
                          <% end %>
                      <% end %>
                    </div>
                  </div>
                </div> 
              </div>
            <% end %>

            <% if @employer.technologies.any? %>
              <div class="tab-pane description-pane" id="tech">  
                <div class="tab-desc animated fadeIn">
                  <div class="row">
                    <div class="col-md-12">
                      <h4 class="heading-mini tab-inner">Technolgies We Work With</h4><hr>
                    </div>
                    <% @technologies.each do |tech| %>
                      <div class="col-md-6">
                        <h5><%= tech.name %></h5>
                      </div>
                    <% end %>
                  </div>
                </div> 
              </div>
            <% end %>
          </div>
        </div><!--tabs end-->
      </div>

      <div class="col-md-4">
        <div class="portfolio-side-bar">
          <% if admin_signed_in? || employer_signed_in? %>
            <div class="sidebar-box control-buttons">
              <a href="/employers/<%= @employer.id %>/edit" class="btn btn-lg theme-btn-color"><i class="ion-edit"></i></a> 
              <a href="/employers/<%= @employer.id %>" data-method="delete" data-confirm="Are you sure you want to delete '<%= @employer.name %>'?" class="btn btn-lg theme-btn-color"><i class="ion-trash-a"></i></a> 
            </div><hr>
          <% end %>

          <div class="sidebar-box">
            <h4>Where We Are Located</h4>
            <ul class="cat-list">  
               <li><a href="#" class="hover-color"><%= @employer.location %></a></li>    
            </ul>
          </div><hr>

          <% unless @employer.website == nil || @employer.website == "" %>
            <div class="sidebar-box">
              <ul class=" list-inline social-btn">
                <li><a href="<%= @employer.normalized_website %>" target="_blank"><i class="ion-android-desktop" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Check Out Our Website" target="_blank"></i></a></li>
              </ul>
            </div><hr>
          <% end %>
        </div>
      </div>
    </div>
  </div><!--portfolio single container end-->
</div>
