<div class="container" id="employer-show">
  <div class="row">
    <div id="employer-show-img" class="col-md-6">
      <% if @employer.image.model["image"] =~ /robo/ %>
        <%= image_tag(@employer.image.model["image"]) %>
      <% else %>
        <%= image_tag(@employer.image.index_square.url) %>
      <% end %>
      <h1><%= @employer.name %></h1>
      <p><%= @employer.city %>, <%= @employer.state %> </p>
      <% if admin_signed_in? || employer_signed_in? && current_employer.id == @employer.id %>
        <%= link_to 'Edit Profile', edit_employer_path(@employer), class: "btn btn-default" %>
        <%= link_to 'Delete', employer_path(@employer), method: :delete, data: { confirm: "Are you sure you want to delete '#{@employer.name}'"}, class: "btn btn-default" %>
      <% end %>
    </div>

    <div id="employer-details" class="col-md-6">
      <h3>About Us</h3>
      <p><%= @employer.description %></p>
  
      <h3>Contact</h3>
      <div id="rep-contact">
        <p><em><%= @employer.rep_full_name %></em><br>
        <em><%= @employer.rep_email %></em><br>
        <em><%= @employer.rep_phone %></em></p>
        <% if @employer.website != "" %>
          <p><%= link_to 'Visit Our Website', @employer.normalized_website, target: "_blank" %></p>
        <% end %>
      </div>
    </div>
  </div> 
  <% if @employer.positions.any? %>
    <div class="row">
      <h2>Positions Available</h2>
      <% @positions.each do |position| %>
        <p><%= position.name %></p>
      <% end %>
    </div>
  <% end %>
  <br>
  <% if @employer.position_types.any? %>
    <div class="row">
      <h2>Position Types</h2>
      <% @position_types.each do |position_type| %>
        <p><%= position_type.name %></p>
      <% end %>
    </div>
  <% end %>
  <br>
  <% if @employer.industries.any? %>
    <div class="row">
      <h2>Industries</h2>
      <% @industries.each do |industry| %>
        <p><%= industry.name %></p>
      <% end %>
    </div>
  <% end %>

</div>

