<div class="employer-show">
  <section id="content-region-3" class="padding-40 page-tree-bg">
    <div class="container">
      <h3 class="page-tree-text"><%= @employer.name %></h3>
    </div>
  </section><!--page-tree end here-->

  <div class="space-70"></div>
  <div class="container portfolio-details">
    <div class="row">
      <div class="col-md-8 portfolio-single-slide margin-btm-40">
        <div class="flexslider">
          <%= image_tag @employer.image.large.url, class: "img-responsive" %>
        </div><!--flex slider-->
      
        <div class="tabs"><!--tabs start-->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#description" data-toggle="tab"><h4 class="heading-mini tab-name">Description</h4></a></li>
            <% if @employer.positions.any? || @employer.position_types.any? || @employer.salary_ranges.any? || @employer.hiring_fields? %>
              <li class=""><a href="#positions" data-toggle="tab"><h4 class="heading-mini tab-name">Positions</h4></a></li>
            <% end %>
            <% if @employer.technologies.any? %>
              <li class=""><a href="#tech" data-toggle="tab"><h4 class="heading-mini tab-name">Technologies</h4></a></li>
            <% end %>
            <% if employer_signed_in? || admin_signed_in? %>
              <li class=""><a href="#follow-up" data-toggle="tab"><h4 class="heading-mini tab-name">Follow Up List</h4></a></li>
            <% end %>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane description-pane active" id="description">  
              <div class="tab-desc animated fadeIn">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <h4 class="heading-mini tab-inner">About Our Company</h4><hr>
                    </div>
                    <div class="col-md-12">
                      <h5><%= @employer.description %></h5>
                    </div>
                    <% unless @employer.company_size == nil || @employer.company_size == "" %>
                      <div class="col-md-6"><br>
                        <h4 class="heading-mini tab-inner">Company Size</h4><hr>
                      </div>
                      <div class="col-md-12">
                        <h5>We currently have about <%= @employer.company_size %> employees</h5>
                      </div>
                    <% end %>
                  </div>
                </div><br>

                <% if @employer.industries.any? %>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-6">
                        <h4 class="heading-mini tab-inner">Industries We Work In</h4><hr>
                      </div>
                      <% @industries.each do |industry| %>
                        <div class="col-md-12">
                          <h5><%= industry.name %></h5>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div> 
            </div>

            <div class="tab-pane description-pane" id="positions">  
              <div class="tab-desc animated fadeIn">
                <% if @employer.hiring_fields? %>
                  <div class="row">
                    <% unless @employer.number_of_positions == nil || @employer.number_of_positions == "" %>
                      <div class="col-md-6">
                        <div class="col-md-12">
                          <h4 class="heading-mini tab-inner">Number of Open Positions</h4><hr>
                        </div>
                        <div class="col-md-12">
                          <h5>We currently have <%= @employer.number_of_positions %> open positions</h5><br>
                        </div>
                      </div>
                    <% end %>
                    <% unless @employer.hiring_timeline == nil || @employer.hiring_timeline == "" %>
                      <div class="col-md-6">
                        <div class="col-md-12">
                          <h4 class="heading-mini tab-inner">How Soon Are We Hiring?</h4><hr>
                        </div>
                        <div class="col-md-12">
                          <h5><%= @employer.hiring_timeline %></h5><br>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <% if @employer.positions.any? || @employer.position_types.any? || @employer.salary_ranges.any? %>
                  <% if @employer.positions.any? || @employer.position_types.any? %>
                    <div class="row">
                      <% if @employer.positions.any? %>
                        <div class="col-md-6">
                          <div class="col-md-12">
                            <h4 class="heading-mini tab-inner">Positions We're Looking To Fill</h4><hr>
                          </div>
                          <% @positions.each do |position| %>
                            <div class="col-md-12">
                              <h5><%= position.name %></h5>
                            </div>
                          <% end %><br>
                        </div>
                      <% end %>

                      <% if @employer.position_types.any? %>
                        <div class="col-md-6">
                          <div class="col-md-12">
                            <h4 class="heading-mini tab-inner">Position Types</h4><hr>
                          </div>
                          <% @position_types.each do |position_type| %>
                            <div class="col-md-12">
                              <h5><%= position_type.name %></h5>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                    </div><br>
                  <% end %>

                  <% if @employer.salary_ranges.any? %>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="col-md-12">
                          <h4 class="heading-mini tab-inner">Salary Ranges</h4><hr>
                        </div>
                        <% @salary_ranges.each do |salary_range| %>
                          <div class="col-md-12">
                            <h5><%= salary_range.salary_range %></h5>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div> 
            </div>

            <% if @employer.technologies.any? %>
              <div class="tab-pane description-pane" id="tech">  
                <div class="tab-desc animated fadeIn">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-6">
                        <h4 class="heading-mini tab-inner">Technolgies We Work With</h4><hr>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <% @technologies.each do |tech| %>
                        <div class="col-md-6">
                          <h5><%= tech.name %></h5>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div> 
              </div>
            <% end %>
            <% if employer_signed_in? || admin_signed_in? %>
              <div class="tab-pane description-pane" id="follow-up">  
                <div class="tab-desc animated fadeIn">
                  <% if @follow_up_students %>
                    <table class="table table-hover table-responsive">
                      <thead>
                        <th>Name</th>
                        <th>Email</th>
                        <th class="remove-follow-up">Remove</th>
                      </thead>
                      <tbody>
                      <% @follow_up_students.each do |follow_up_student|%>
                        <tr class="hover-list">
                          <td>
                            <a href="/students/<%= follow_up_student.student.id %>" class="user-name"><%= follow_up_student.student.full_name %></a>
                          </td>
                          <td class="user-entries is-breakable">                              
                            <p><%= follow_up_student.student.email %></p>                    
                          </td>
                          <td class="remove-follow-up"><a href="/follow_up_students/<%= follow_up_student.id %>" data-method="delete" data-confirm="Are you sure you want to remove '<%= follow_up_student.student.full_name %>' from the list?" class="btn btn-xs btn-default"><i class="ion-trash-a"></i></td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  <% else %>
                    <div class="no-accounts"><h5><em>There are no students on your list</em></h5></div>
                  <% end %>
                </div> 
              </div>
            <% end %>
          </div>
        </div><!--tabs end-->
      </div>





      <div class="col-md-4"><hr>
        <div class="portfolio-side-bar">
          <% if admin_signed_in? || employer_signed_in? %>
            <div class="sidebar-box control-buttons">
              <a href="/employers/<%= @employer.id %>/edit" class="btn btn-lg theme-btn-color"><i class="ion-edit"></i></a> 
              <a href="/employers/<%= @employer.id %>" data-method="delete" data-confirm="Are you sure you want to delete '<%= @employer.name %>'?" class="btn btn-lg theme-btn-color"><i class="ion-trash-a"></i></a> 
            </div><hr>
          <% end %>

          <% if @employer.currently_hiring %>
            <div class="sidebar-box">
              <button class="btn btn-lg theme-btn-color employment-btn">We're Hiring!</button>
            </div><hr>
          <% else %>
            <div class="sidebar-box">
              <button class="btn btn-lg theme-btn-color employment-btn">Not Currently Hiring</button>
            </div><hr>
          <% end %>

          <div class="sidebar-box">
            <h4>Where We Are Located</h4>
            <ul class="cat-list">  
               <li><a href="#" class="hover-color"><%= @employer.location %></a></li>    
            </ul>
          </div><hr>

          <% unless @employer.website == nil || @employer.website == "" %>
            <div class="sidebar-box">
              <ul class=" list-inline social-btn">
                <li><a href="<%= @employer.normalized_website %>" target="_blank"><i class="ion-android-desktop" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Check Out Our Website" target="_blank"></i></a></li>
              </ul>
            </div><hr>
          <% end %>
        </div>
      </div>
    </div>
  </div><!--portfolio single container end-->
</div>
