<div class="container" id="employer-show">
  <div class="row">
    <div id="employer-show-img" class="col-md-6">
      <% if @employer.image.model["image"] =~ /robo/ %>
        <%= image_tag(@employer.image.model["image"]) %>
      <% else %>
        <%= image_tag(@employer.image.standard.url) %>
      <% end %>
      <h1><%= @employer.name %></h1>
      <p><%= @employer.city %>, <%= @employer.state %> </p>
      <% if admin_signed_in? || employer_signed_in? && current_employer.id == @employer.id %>
        <%= link_to 'Edit Profile', edit_employer_path(@employer), class: "btn btn-default" %>
        <%= link_to 'Delete', employer_path(@employer), method: :delete, data: { confirm: "Are you sure you want to delete '#{@employer.name}'"}, class: "btn btn-default" %>
      <% end %>
    </div>

    <div id="employer-details" class="col-md-6">
      <h3>About Us</h3>
      <p><%= @employer.description %></p>
  
      <h3>Contact</h3>
      <div id="rep-contact">
        <p><em><%= @employer.rep_full_name %></em><br>
        <em><%= @employer.rep_email %></em><br>
        <em><%= @employer.rep_phone %></em></p>
        <% if @employer.website != "" %>
          <p><%= link_to 'Visit Our Website', @employer.normalized_webpage, target: "_blank" %></p>
        <% end %>
      </div>
    </div>
  </div> 
</div>

