 <!--preloader-->
 <div id="preloader"></div>
 <!--preloader-->
 <!--back to top-->
 <a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
 <!--back to top end-->
<header class="header-main">
  <div class="top-bar">
    <div class="container">
      <div class="pull-right">
        <ul class="info list-inline hidden-xs">
          <% if admin_signed_in? %>
            <li><a href="/admins/<%= current_user.id %>" class="hover-color"><i class="ion-android-person"></i> &nbsp;<%= current_user.email.upcase %> &nbsp;|&nbsp; <%= current_user.class.name.upcase %></a></li>
          <% elsif student_signed_in? %>
            <li><a href="/students/<%= current_user.id %>" class="hover-color"><i class="ion-android-person"></i> &nbsp;<%= current_user.email.upcase %> &nbsp;|&nbsp; <%= current_user.class.name.upcase %></a></li>
          <% elsif employer_signed_in? %>
            <li><a href="/employers/<%= current_user.id %>" class="hover-color"><i class="ion-android-person"></i> &nbsp;<%= current_user.email.upcase %> &nbsp;|&nbsp; <%= current_user.class.name.upcase %></a></li>
          <% else %>
            <li><a href="http://anyonecanlearntocode.com/" target="_black" class="hover-color"><%= image_tag "actualize_logo_77.png", class: "navbar-logo"%> Powered by Actualize</a></li>
          <% end %>
       </ul>
       </div>
     </div><!--container end-->
  </div><!--topbar end-->
  <div class="navbar navbar-default sticky-nav sticky yamm" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if admin_signed_in? %>
          <a class="navbar-brand" href="/dashboard"><%= image_tag "devhero_text.png", class: "img-responsive actualize-logo" %></a>
        <% elsif student_signed_in? || employer_signed_in? %>
          <a class="navbar-brand" href="/students"><%= image_tag "devhero_text.png", class: "img-responsive actualize-logo" %></a>
        <% else %>
          <a class="navbar-brand" href="/students"><%= image_tag "devhero_text.png", class: "img-responsive actualize-logo" %></a>
        <% end %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if admin_signed_in? %>
            <li class=" dropdown">
              <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Admin Center</a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Dashboard', admin_center_path %></li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Batch Invites </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Invite Students', student_batch_invite_path %></li>
                    <li><%= link_to 'Invite Employers', employer_batch_invite_path %></li>
                    <li><%= link_to 'Invite Admins', admin_batch_invite_path %></li>
                    <li><%= link_to 'Resque Dashboard', "/dashboard/jobs" %></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Create Accounts </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'New Student', new_admin_student_path %></li>
                    <li><%= link_to 'New Employer', new_admin_employer_path %></li>
                    <li><%= link_to 'New Admin', new_admin_admin_path %></li>
                  </ul>
                </li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown">
            <%= link_to 'Students', students_path %>
          </li>
          <li class="dropdown">
            <%= link_to 'Employers', employers_path %>
          </li>
          <% if admin_signed_in? %>
            <li class=" dropdown">
              <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">My Account</a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Edit My Account', edit_admin_path(current_user) %></li>
                <li><%= link_to 'Sign Out', destroy_admin_session_path %></li>
              </ul>
            </li>
          <% elsif student_signed_in? %>
            <li class=" dropdown">
              <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">My Account</a>
              <ul class="dropdown-menu">
                <li><%= link_to 'View My Profile', student_path(current_user) %></li>
                <li><%= link_to 'Edit My Account', edit_student_path(current_user) %></li>
                <li><%= link_to 'Sign Out', destroy_student_session_path %></li>
              </ul>
            </li>
          <% elsif employer_signed_in? %>
            <li class=" dropdown">
              <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">My Account</a>
              <ul class="dropdown-menu">
                <li><%= link_to 'View My Profile', employer_path(current_user) %></li>
                <li><%= link_to 'Edit My Account', edit_employer_path(current_user) %></li>
                <li><%= link_to 'Sign Out', destroy_employer_session_path %></li>
              </ul>
            </li>
          <% else %>
            <li class="dropdown">
              <%= link_to 'Sign In', home_sign_in_path %>
            </li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-->
  </div><!--navigation end-->
</header><!--header main end-->