<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <title>DevHero</title>
    <meta name="description" content="HTML5 & CSS3">
    <meta name="keywords" content="HTML5, CSS3, Theme,bootstrap3,clean design"> 

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script data-require="angular-ui@*" data-semver="0.4.0" src="http://rawgithub.com/angular-ui/angular-ui/master/build/angular-ui.js"></script>
    <%= csrf_meta_tags %>

    <!--google  font family-->  
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400italic' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= render "layouts/navbar" %>

    <div class="container">
      <%= render "layouts/flash_messages" %>
      <%= yield :form_errors %>
    </div>
    
    <%= yield %>

    <div class="space-70"></div>
    <script>
      $(function(){
          $(".chosen-select").chosen();
      });

      $(document).ready(function(){
        $(".chosen-select").css("width", "100%");
      });
    </script>
  </body>
</html>
