<!DOCTYPE html>
<html>
<head>
  <title>NetworkApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top app-nav-bar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= image_tag 'acltc_logo.png', class: "img-responsive navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active dropdown">
            <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Admin Center <i class="ion-ios-arrow-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/students/invitations/batch">Invite Students</a></li>
              <li><a href="/admin/students/new">New Student</a></li>
              <li><a href="/admin/employers/new">New Employer</a></li>
              <li><a href="/admin/admins/new">New Admin</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/employers" class="dropdown-toggle js-activated">Employers</a>
          </li>
          <li class=" dropdown">
            <a href="/students" class="dropdown-toggle js-activated">Students</a>
            
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Features <i class="ion-ios-arrow-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="typography.html">Typography</a></li>
              <li><a href="shortcodes.html">Shortcodes</a></li>                              
              <li><a href="header-2.html">Header 2</a></li>
              <li><a href="footer-2.html">Footer 2</a></li>
              <li><a href="pricing.html">Pricing Tables</a></li>
            </ul>
          </li>
          <li class=" dropdown">
            <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Pages <i class="ion-ios-arrow-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="about.html">About Us</a></li>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="contact-2.html">Contact option</a></li>
              <li><a href="services.html">Services</a></li>
              <li><a href="our-team.html">Our Team</a></li>
              <li><a href="about-me.html">About Me</a></li>
              <li><a href="gallery.html">Gallery</a></li>
              <li><a href="page-fullwidth.html">Full Width</a></li>
              <li><a href="page-leftbar.html">Left Sidebar</a></li>
              <li><a href="page-rightbar.html">Right Sidebar</a></li>
              <li><a href="faqs.html">Faqs</a></li>
              <li><a href="page-error.html">Error 404</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-->
  </div><!--navigation end-->
  <div id="app-content">
    <% flash.each do |name, message| %>
      <% if name == "notice" %>
        <% name = "info" %>
      <% end %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>

</html>
